.git
.github
.nx
node_modules
**/node_modules
**/.next
!apps/builder/.next/standalone
!apps/builder/.next/static
!apps/viewer/.next/standalone
!apps/viewer/.next/static
**/.output
!apps/landing-page-v2/.output
**/.env
npm-debug.log
README.md
landing-page
docs
wordpress
