VITE_LANDING_PAGE_BASE_URL=https://typebot.com
VITE_TYPEBOT_APP_BASE_URL=https://app.typebot.com
VITE_TYPEBOT_DOCS_BASE_URL=https://docs.typebot.com
VITE_TYPEBOT_GITHUB_REPO_URL=https://github.com/baptisteArno/typebot.io
VITE_TYPEBOT_BLUESKY_URL=https://bsky.app/profile/typebot.io
VITE_TYPEBOT_LINKEDIN_URL=https://www.linkedin.com/company/typebot
VITE_TYPEBOT_DISCORD_URL=https://typebot.com/discord
VITE_TYPEBOT_STRIPE_CLIMATE_URL=https://climate.stripe.com/5VCRAq
VITE_TYPEBOT_ENTERPRISE_LEAD_URL=https://typebot.io/enterprise-lead-form
